<nav class="navbar navbar-expand-lg  navbar-dark bg-dark"  >
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Chat App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ng-container *ngIf="(currenUser$ | async) as user" >
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActiveOptions]="{exact:true}"  routerLinkActive="active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/members">Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/list">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/messages">Messages</a>
          </li>

        </ul>
      </ng-container>


      <div  class="dropdown mr-10"   dropdown *ngIf="(currenUser$ | async) as User"  >
        <a class="btn btn-secondary dropdown-toggle"  role="button" dropdownToggle id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="falseخو">خوش امدید {{User.userName}} </a>
       <ul   *dropdownMenu class="dropdown-menu mr-10 " aria-labelledby="dropdownMenuLink" >
            <li> <a class="dropdown-item">ویرایش پروفایل</a></li>
            <li> <a class="dropdown-item" (click)="logout()"> خروج <span class="fas fa-sign-out-alt"></span></a> </li>
      </ul>
      </div>


      <form *ngIf="(currenUser$ | async) === null"  (ngSubmit)="onSubmit()" class="d-flex" role="search"  [formGroup]="form">
        <input type="text" formControlName="userName"  class="form-control me-2"   placeholder="username">
        <input type="password" formControlName="password"  class="form-control me-2"  placeholder="password">
        <button class="btn btn-outline-success me-2" type="submit" [disabled]="form.invalid">Login</button>
      </form>
    </div>
  </div>
</nav>



