
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Chat App </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Link
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Link</a>
          </li>
        </ul>
        <form
        (ngSubmit)="onSubmit()"
        [formGroup]="form"
        class="d-flex"
      >
        <input
          type="text"
          formControlName="userName"
          class="form-control me-2"
          placeholder="userName"
        />
        <input
          type="password"
          formControlName="password"
          class="form-control me-2"
          placeholder="password"
        />
        <button class="btn btn-outline-success me-2"  type="submit" [disabled]="form.invalid" >
          Login
        </button>
      </form>
      </div>
    </div>
  </nav>


<!-- 
<body>  
    <div class="container">  
        <h2>ورود به حساب کاربری</h2>  
        <form>  
            <div class="input-group">  
                <label for="username">نام کاربری</label>  
                <input type="text" id="username" name="username" required>  
            </div>  
            <div class="input-group">  
                <label for="password">گذرواژه</label>  
                <input type="password" id="password" name="password" required>  
            </div>  
            <button type="submit">ورود</button>  
            <p class="message">فراموش کرده‌اید گذرواژه‌تان؟ <a href="#">بازیابی</a></p>  
        </form>  
    </div>  
</body>   -->

